body{
    background-color: rgba(0, 0, 255, 0.199);
    font-family: sans-serif;
}

section{
    background-color: white;
    border-radius: 6px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    width: 640px;
    margin: auto;
    padding: 16px;
}

h1 {
    text-align: center;
}

.resultado {
    padding: 16px;
    display: none;
    color: white;
}